/* === Sekcja: O nas - .about-wrapper === */
.about-wrapper .about-image-items {
    position: relative;
}

.about-wrapper .about-image-items .video-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.about-wrapper .about-image-items .video-box .video-buttton {
    width: 142px;
    height: 142px;
    line-height: 142px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--theme);
    display: inline-block;
    z-index: 9;
    font-size: 24px;
    color: var(--white);
    position: relative;
}

.about-wrapper .about-image-items .video-box .video-buttton .text-circle {
    position: absolute;
    top: 7%;
    left: 7%;
    animation: cir36 10s linear infinite;
}

.about-wrapper .about-image-items .counter-shape {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    position: absolute;
    bottom: 30px;
    left: -50px;
    z-index: 1;
}

.about-wrapper .about-image-items .about-image-1 {
    max-width: 415px;
    height: 445px;
    position: relative;
}

.about-wrapper .about-image-items .about-image-1 .about-image-2 {
    position: absolute;
    bottom: -13%;
    right: -35%;
}

.about-wrapper .about-image-items .about-image-1::after {
    content: "";
    width: 100%;
    height: 88%;
    position: absolute;
    right: -55px;
    top: 20%;
    border: 3px solid var(--theme);
    z-index: -1;
}

.about-wrapper .about-content .about-icon-items {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 40px;
}

.about-wrapper .about-content .about-icon-items .icon-items {
    display: flex;
    align-items: center;
    gap: 25px;
}

.about-wrapper .about-content .about-icon-items .icon-items .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--theme);
    color: var(--white);
}

.about-wrapper .about-content .about-icon-items .icon-items .content {
    flex-basis: 60%;
}

.about-wrapper .about-content .about-author {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.about-wrapper .about-content .about-author .author-image {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-wrapper .about-content .about-author .author-image .content p {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 500;
    margin-top: -2px;
}

/* === Sekcja: O nas - Wariant 2 (.style-2) === */
.about-wrapper.style-2 .about-image-items .circle-shape {
    position: absolute;
    top: 0;
    right: 25%;
    animation: cir36 10s linear infinite;
}

.about-wrapper.style-2 .about-image-items .counter-shape {
    background-color: var(--theme);
    bottom: -70px;
    left: 30px;
}

.about-wrapper.style-2 .about-image-items .counter-shape .icon {
    filter: grayscale(100%) brightness(300%);
}

.about-wrapper.style-2 .about-image-items .counter-shape .content h3 {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.about-wrapper.style-2 .about-image-items .counter-shape .content h3 span {
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}

.about-wrapper.style-2 .about-image-items .counter-shape .content p {
    font-size: 14px;
    color: var(--white);
}

.about-wrapper.style-2 .about-image-items .about-image-1 {
    max-width: 386px;
    height: 415px;
}

.about-wrapper.style-2 .about-image-items .about-image-1 .about-image-2 {
    border: 10px solid var(--white);
    box-shadow: var(--box-shadow);
    right: -40%;
}

.about-wrapper.style-2 .about-image-items .about-image-1::after {
    display: none;
}

.about-wrapper.style-2 .about-content .about-icon-items .icon-items .icon {
    background-color: var(--white);
    color: var(--theme);
}

/* === Sekcja: O nas - .about-wrapper-2 === */
.about-wrapper-2 {
    margin-bottom: -30px;
}

.about-wrapper-2 .about-image {
    position: relative;
    z-index: 9;
}

.about-wrapper-2 .about-image .video-box {
    position: absolute;
    top: 13%;
    right: 14%;
    width: 125px;
    height: 125px;
    line-height: 125px;
    background-color: var(--white);
    border-radius: 50%;
    text-align: center;
}

.about-wrapper-2 .about-image .video-box .video-btn {
    width: 85px;
    height: 85px;
    line-height: 85px;
    font-size: 22px;
    background-color: var(--theme);
    color: var(--white);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.about-wrapper-2 .about-image .video-box .ripple::before,
.about-wrapper-2 .about-image .video-box .ripple::after {
    box-shadow: 0 0 0 0 rgba(56, 75, 255, 0.8);
}

.about-wrapper-2 .about-image .shape-image {
    position: absolute;
    bottom: 10%;
    left: -12%;
    z-index: -1;
}

.about-wrapper-2 .about-image .circle-shape {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    bottom: 25px;
    z-index: -1;
}

.about-wrapper-2 .about-image img {
    width: 100%;
    height: auto;
}

.about-wrapper-2 .about-content p {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 35px;
    display: inline-block;
}

.about-wrapper-2 .about-content .icon-area {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 65px;
}

.about-wrapper-2 .about-content .icon-area .list li {
    font-weight: 500;
    color: var(--text-color);
}

.about-wrapper-2 .about-content .icon-area .list li:not(:last-child) {
    margin-bottom: 10px;
}

.about-wrapper-2 .about-content .icon-area .list li i {
    color: var(--theme);
    margin-right: 5px;
}

.about-wrapper-2 .about-content .icon-area .icon-items {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 28px 25px;
    border-left: 3px solid var(--theme);
}

.about-wrapper-2 .about-content .icon-area .icon-items .content h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.about-wrapper-2 .about-content .icon-area .icon-items .content span {
    color: var(--header-color);
}

.about-wrapper-2 .about-content .about-author {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.about-wrapper-2 .about-content .about-author .author-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-wrapper-2 .about-content .about-author .author-icon .icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: var(--theme);
    color: var(--white);
    border-radius: 50%;
    position: relative;
}

.about-wrapper-2 .about-content .about-author .author-icon .icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--theme);
    content: "";
    transform: translate(-50%, -50%);
}

.about-wrapper-2 .about-content .about-author .author-icon .content h5 {
    font-weight: 600;
}

.about-wrapper-2 .about-content .about-author .author-icon .content span {
    font-size: 14px;
    font-weight: 600;
    color: var(--header-color);
}

.about-wrapper-2.style-2 .about-image-2 img {
    width: 100%;
    height: auto;
}

.about-wrapper-2.style-2 .about-content {
    margin-left: 50px;
}

.about-wrapper-2.style-2 .about-content .about-button {
    margin-top: 50px;
}

/* === Sekcja: O nas - Kontener .about-container-wrapper === */
.about-container-wrapper.style1 {
    position: relative;
}

.about-container-wrapper.style1 .shape1 {
    position: absolute;
    bottom: -140px;
    left: 0;
    z-index: 1;
}

.about-container-wrapper.style1 .shape2 {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
}

.about-container-wrapper.style1 .shape3 {
    position: absolute;
    bottom: -40px;
    right: 0;
    z-index: 1;
}

.about-container-wrapper.style1 .about-thumb {
    position: relative;
    margin: 0 80px 45px 0;
    z-index: 4;
}

.about-container-wrapper.style1 .about-thumb .thumb1 {
    position: relative;
    z-index: 1;
    background: transparent;
    text-align: center;
    width: 100%;
    height: 557px;
    clip-path: url(#aboutThumbdMask1);
}

.about-container-wrapper.style1 .about-thumb .thumb1 img {
    width: 100%;
}

.about-container-wrapper.style1 .about-thumb .thumb2 {
    position: absolute;
    bottom: -65px;
    right: -80px;
    z-index: 2;
}

.about-container-wrapper.style1 .about-thumb .shape {
    position: absolute;
    top: 0;
    right: 22px;
    z-index: 3;
}

.about-container-wrapper.style1 .about-content {
    position: relative;
    z-index: 4;
}

.about-container-wrapper.style1 .about-content .fancy-box-wrapper {
    margin-top: 35px;
}

.about-container-wrapper.style1 .about-content .counter-box-wrapper {
    margin-top: 50px;
}

.about-container-wrapper.style2 {
    position: relative;
}

.about-container-wrapper.style2 .shape1 {
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.about-container-wrapper.style2 .shape2 {
    position: absolute;
    top: 0;
    right: 0;
}

.about-container-wrapper.style2 .about-thumb .counter-area.style2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* === Media Queries - Responsywność === */
@media (max-width: 1500px) { /* xxl */
    .about-wrapper .about-image-items .about-image-1 .about-image-2 {
        right: -20%;
    }
}

@media (max-width: 1299px) { /* xl */
    .about-wrapper .about-image-items .about-image-1 .about-image-2 {
        width: 200px;
        bottom: 0;
        right: -10%;
    }
    .about-wrapper .about-image-items .about-image-1 .about-image-2 img {
        width: 100%;
        height: auto;
    }
    .about-wrapper .about-image-items .about-image-1::after {
        right: -30px;
    }
    .about-wrapper .about-content .about-author {
        flex-wrap: wrap;
    }
    .about-wrapper.style-2 .about-image-items .about-image-1 .about-image-2 {
        right: -20%;
    }
    .about-wrapper-2 {
        margin-bottom: -10px;
    }
    .about-wrapper-2 .about-content .icon-area {
        flex-wrap: wrap;
        gap: 40px;
    }
    .about-wrapper-2 .about-content .about-author {
        flex-wrap: wrap;
    }
}

@media (max-width: 1199px) { /* lg */
    .about-wrapper .about-image-items .about-image-1 {
        max-width: 560px;
    }
    .about-wrapper .about-image-items .about-image-1 .about-image-2 {
        bottom: -13%;
        right: -35%;
    }
    .about-wrapper .about-image-items .about-image-1::after {
        width: 100%;
        height: 88%;
        right: -55px;
        top: 20%;
    }
    .about-wrapper .about-content .about-icon-items {
        flex-wrap: wrap;
        padding-bottom: 30px;
        margin-top: 30px;
    }
    .about-wrapper.style-2 .about-image-items .counter-shape {
        bottom: 20px;
    }
    .about-wrapper.style-2 .about-image-items .about-image-1 {
        max-width: 550px;
        height: 530px;
    }
    .about-wrapper-2.style-2 .about-content {
        margin-left: 0;
    }
    .about-container-wrapper.style1 .about-thumb .thumb1 {
        height: auto;
    }
}

@media (max-width: 991px) { /* md */
    .about-wrapper.style-2 .about-image-items .about-image-1 {
        max-width: 450px;
        height: 415px;
    }
    .about-wrapper-2 .about-image .video-box {
        width: 105px;
        height: 105px;
        line-height: 105px;
    }
    .about-wrapper-2 .about-image .video-box .video-btn {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .about-wrapper-2 .about-content .icon-area {
        gap: 30px;
    }
    .about-wrapper-2 .about-content .about-author {
        margin-top: 30px;
    }
    .about-wrapper-2.style-2 .about-content .about-button {
        margin-top: 35px;
    }
    .about-container-wrapper.style1 .about-thumb .shape {
        top: 112px;
    }
    .about-container-wrapper.style2 .about-thumb .counter-area.style2 {
        bottom: -60px;
    }
}

@media (max-width: 767px) { /* sm */
    .about-wrapper .about-image-items .counter-shape {
        left: 0;
    }
    .about-wrapper .about-image-items .about-image-1 .about-image-2 {
        width: 140px;
        bottom: initial;
        top: 0;
        right: 0;
    }
    .about-wrapper .about-image-items .about-image-1::after {
        display: none;
    }
    .about-wrapper.style-2 .about-image-items .about-image-1 {
        max-width: 550px;
        height: 500px;
    }
    .about-wrapper.style-2 .about-image-items .about-image-1 .about-image-2 {
        right: 0;
    }
    .about-wrapper-2 .about-image .video-box {
        width: 95px;
        height: 95px;
        line-height: 95px;
    }
    .about-wrapper-2 .about-image .video-box .video-btn {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .about-wrapper-2 .about-content .icon-area {
        gap: 20px;
        margin-top: 20px;
    }
    .about-wrapper-2 .about-content .about-author {
        margin-top: 20px;
    }
    .about-wrapper-2.style-2 .about-content .about-button {
        margin-top: 25px;
    }
}