/* ================================== */
/* Plik ze stylami przycisków (Buttons) */
/* ================================== */

/* --- Główny przycisk motywu --- */
.theme-btn {
    overflow: hidden;
    background-color: var(--theme);
    color: var(--white);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    line-height: 1;
    padding: 18px 28px;
    cursor: pointer;
    border-radius: 100px;
}

.theme-btn::before {
    content: "";
    background-color: var(--header-color);
    width: 0;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
}

.theme-btn::after {
    content: "";
    background-color: var(--header-color);
    width: 0;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
}

.theme-btn i {
    margin-left: 10px;
}

.theme-btn:hover {
    color: var(--white);
    border-radius: 100px;
}

.theme-btn:hover::before,
.theme-btn:hover::after {
    width: 100%;
}

.theme-btn.hover-white::before,
.theme-btn.hover-white::after {
    background-color: var(--white);
}

.theme-btn.hover-white:hover {
    color: var(--header-color);
}

.theme-btn.bg-white {
    background-color: var(--white);
    color: var(--header-color);
}

.theme-btn.bg-white:hover {
    color: var(--white);
}

.theme-btn.border-white {
    border: 1px solid var(--white);
    background-color: transparent;
}

.theme-btn.border-white::before,
.theme-btn.border-white::after {
    background-color: var(--white);
}

.theme-btn.border-white:hover {
    color: var(--header-color) !important;
}

/* --- Przycisk tekstowy --- */
.theme-btn-2 {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    color: var(--text-color);
    text-transform: capitalize;
}

.theme-btn-2 i {
    margin-left: 10px;
}

.theme-btn-2:hover {
    color: var(--theme);
}

/* --- Główny przycisk (GT Button) --- */
.gt-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background: var(--theme);
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 20px 28px;
    min-width: 160px;
    cursor: pointer;
    border-radius: 100px;
}

.gt-btn i {
    margin-left: 10px;
}

.gt-btn::before {
    content: "";
    background-color: var(--header-color);
    width: 0;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
}

.gt-btn::after {
    content: "";
    background-color: var(--header-color);
    width: 0;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
}

.gt-btn:hover {
    color: var(--white);
}

.gt-btn:hover::before,
.gt-btn:hover::after {
    width: 100%;
}

.gt-btn.style2 {
    background: var(--white-color);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    color: var(--theme);
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.gt-btn.style2::before,
.gt-btn.style2::after {
    background-color: var(--theme);
}

.gt-btn.style2:hover {
    color: var(--white);
    border-radius: 20px;
}

.gt-btn.style3 {
    background: var(--theme-color-2);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.gt-btn.style3:hover {
    color: var(--white);
    border-radius: 20px;
}

.gt-btn.style4 {
    padding: 20px 36px;
    border-radius: 100px;
    background: var(--theme-color3);
    color: var(--white-color);
}

.gt-btn.style4:hover {
    color: var(--white-color);
}

.gt-btn.style5 {
    background: var(--white-color);
    color: var(--title-color);
    min-width: 230px;
}

.gt-btn.style5::before,
.gt-btn.style5::after {
    background-color: var(--theme);
}

.gt-btn.style5:hover {
    color: var(--white);
}

.gt-btn.style5:hover::before,
.gt-btn.style5:hover::after {
    background-color: var(--title-color);
}

.gt-btn.style6 {
    padding: 20px 36px;
    border-radius: 100px;
    background: var(--theme-color-2);
    color: var(--white-color);
}

.gt-btn.style6:hover {
    color: var(--white-color);
}

/* --- Przycisk z ikoną --- */
.icon-btn {
    display: inline-block;
    width: var(--btn-size, 40px);
    height: var(--btn-size, 40px);
    line-height: var(--btn-size, 40px);
    font-size: var(--btn-font-size, 16px);
    background-color: var(--gray-color);
    color: var(--title-color);
    text-align: center;
    border-radius: 50%;
    border: none;
    transition: 0.4s ease-in-out;
    position: relative;
}

.icon-btn:hover {
    background-color: var(--theme);
    color: var(--white-color);
}

.icon-btn.btn-border {
    background-color: var(--smoke-color3);
    border: 1px solid var(--smoke-color4);
    line-height: calc(var(--btn-size, 40px) - 2px);
}

.icon-btn.btn-border:hover {
    background: var(--theme);
    color: var(--white-color);
    border-color: var(--theme);
}

.icon-btn .badge {
    position: absolute;
    width: fit-content;
    display: inline-block;
    text-align: center;
    background-color: var(--theme);
    color: var(--white-color);
    padding: 2px 4.1px 1px;
    font-size: 12px;
    border-radius: 50%;
    top: 0px;
    right: -8px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border: 1px solid var(--theme);
}

.icon-btn:hover .badge {
    background: var(--white-color);
    color: var(--theme);
}

.icon-btn.bg-none {
    background: transparent;
    font-size: var(--btn-font-size, 20px);
    width: auto;
    padding: 0;
}

.icon-btn.bg-none .badge {
    right: -12px;
}

.icon-btn.bg-none:hover {
    color: var(--theme);
}

.icon-btn.style2:hover {
    background: var(--title-color);
}

/* --- Przycisk Play --- */
.play-btn {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.play-btn > i {
    display: inline-block;
    width: var(--icon-size, 60px);
    height: var(--icon-size, 60px);
    line-height: var(--icon-size, 60px);
    text-align: center;
    border: 1px solid var(--white-color);
    background: radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(21px);
    color: var(--white-color);
    font-size: var(--icon-font-size, 24px);
    border-radius: 50%;
    z-index: 1;
    transition: all ease 0.4s;
}

.play-btn > i.fa-play {
    padding-left: 0.18em; /* Original was padding-right, but play icon needs left padding */
}

.play-btn:after,
.play-btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(56, 56, 59, 0.3);
    animation: ripple var(--ripple-ani-duration, 5s) ease-in-out infinite;
    z-index: -1;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.play-btn:after {
    animation-delay: 2s;
}

.play-btn:hover i {
    background-color: var(--theme-color-2);
    color: var(--white-color);
}

.play-btn:hover:after,
.play-btn:hover:before {
    background-color: rgba(255, 255, 255, 0.3);
}

.play-btn.style2:before,
.play-btn.style2:after {
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.play-btn.style3 > i {
    background-color: var(--theme);
    color: var(--white-color);
    font-size: 20px;
}

.play-btn.style3:before,
.play-btn.style3:after {
    background-color: var(--white-color);
}

.play-btn.style3:hover > i {
    background-color: var(--white-color);
    color: var(--theme);
}

.play-btn.style4 {
    position: absolute;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    top: 15%;
    left: 75%;
    transform: translate(-75%, -15%);
}

.play-btn.style4 > i {
    width: 90px;
    height: 90px;
    line-height: 70px;
    background: var(--theme);
    border: 9px solid #C3C9FF;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.play-btn.style4:before,
.play-btn.style4:after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    transition: all ease 0.4s;
}

.play-btn.style4:before {
    background-color: rgba(255, 255, 255, 0.9);
}

.play-btn.style4:after {
    background-color: rgba(255, 255, 255, 0.8);
    transition-duration: 0.5s;
}


/* --- Przycisk Link --- */
.link-btn.style1 {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    background: #F3F7FB;
    color: var(--title-color);
    border: 1px solid #D4DCFF;
    transition: all 0.4s;
}

.link-btn.style1 i {
    margin-left: 5px;
    width: 18px;
    height: 18px;
}

.link-btn.style1:hover {
    background: var(--theme);
    color: var(--white-color);
}

.link-btn.style2 {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    background: #F3F7FB;
    transition: all 0.4s;
}

.link-btn.style2:hover {
    background: var(--theme);
    color: var(--white-color);
}

/* --- Przycisk z linią --- */
.line-btn {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    line-height: 0.8;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: -1px;
    text-transform: uppercase;
    color: var(--title-color);
}

.line-btn i {
    margin-left: 5px;
    font-size: 0.9rem;
}

.line-btn:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--title-color);
    transition: all ease 0.4s;
}

.line-btn:hover {
    color: var(--theme);
}

.line-btn:hover::before {
    background-color: var(--theme);
    width: 45px;
}

/* --- Przycisk Scroll-to-Top --- */
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 10000;
    opacity: 0; /* Changed for smooth appearance */
    visibility: hidden;
    transform: translateY(45px);
    transition: all 300ms linear;
}

.scroll-top:after {
    content: "\f062";
    font-family: var(--icon-font);
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: var(--theme);
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 1;
    border: 2px solid var(--theme);
    border-radius: 50%;
}

.scroll-top svg {
    color: var(--theme);
    border-radius: 50%;
    background: var(--white-color);
}

.scroll-top .progress-circle path {
    stroke: var(--theme);
    stroke-width: 4px; /* Default SVG stroke width is often small */
    fill: none;
    box-sizing: border-box;
    transition: all 400ms linear;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* --- Przycisk ze strzałką --- */
.arrow-btn .style1 {
    width: 52px;
    height: 52px;
    line-height: 52px; /* Adjusted for vertical centering */
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 4px 25px 0px rgba(56, 75, 255, 0.08);
    transition: background 0.4s ease;
}

.arrow-btn .style1:hover {
    background: var(--title-color);
    color: var(--white-color);
    border: 1px solid transparent;
}

.arrow-btn .style1.slider-next {
    margin-left: 5px;
    background: var(--theme);
    color: var(--white-color);
}

/* --- Media Queries --- */
@media (max-width: 991px) { /* md */
    .theme-btn {
        padding: 20px 32px;
    }
}

@media (max-width: 767px) { /* sm */
    .theme-btn {
        padding: 18px 30px;
        font-size: 14px;
    }
    .play-btn {
        --icon-size: 60px;
    }
}