/* ================================== */
/* Plik ze stylami Stopki (Footer)    */
/* ================================== */

.widget-area.style1 {
    background: var(--theme-color-2);
}

.widget-area.style1,
.widget-area.style2 {
    position: relative;
}

.widget_title {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--title-font);
    line-height: 1em;
    margin: -0.12em 0 30px 0;
}

.widget.footer-widget {
    background-color: transparent;
    padding: calc(var(--section-space) - 20px) 0 0 0;
    border: none;
    box-shadow: none;
    margin-bottom: -5px;
}

.widget.footer-widget .widget_title {
    padding: 0 0 18px 0;
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
}

.widget.footer-widget .widget_title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 61px;
    height: 2px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.gt-widget-about {
    max-width: 270px;
}

.gt-widget-about .about-logo {
    margin-bottom: 33px;
}

.gt-widget-about .about-text {
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.widget.widget_nav_menu.footer-widget .menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.widget.widget_nav_menu.footer-widget .menu li {
    margin-bottom: 20px;
}

.widget.widget_nav_menu.footer-widget .menu li a {
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.widget.widget_nav_menu.footer-widget .menu li a i {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 8px;
    transition: 0.4s ease-in-out;
}

.widget.widget_nav_menu.footer-widget .menu li a:hover {
    color: var(--theme);
}

.widget.widget_nav_menu.footer-widget .menu li a:hover i {
    color: var(--theme);
}

.widget.widget_nav_menu.footer-widget .checklist {
    margin-top: 25px;
    margin-bottom: 0px;
}

.widget.widget_nav_menu.footer-widget .checklist ul {
    margin-bottom: 20px;
}

.widget.widget_nav_menu.footer-widget .email-input-container {
    margin-bottom: 25px;
    width: 270px;
}

.recent-post-wrap .recent-post {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    padding: 0;
    border: 0;
}

.recent-post-wrap .recent-post .media-img {
    overflow: hidden;
    width: 78px;
    height: 79px;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}

.recent-post-wrap .recent-post .media-img img {
    width: 78px;
    height: 79px;
    object-fit: cover;
}

.recent-post-wrap .recent-post .media-body {
    max-width: 200px;
}

.recent-post-wrap .recent-post .media-body .recent-post-meta a {
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--body-font);
    font-size: 14px;
    line-height: 22px;
}

.recent-post-wrap .recent-post .media-body .recent-post-meta a i {
    color: var(--white-color);
    margin-right: 9px;
    transition: 0.4s;
}

.recent-post-wrap .recent-post .media-body .recent-post-meta a img {
    margin-right: 5px;
}

.recent-post-wrap .recent-post .media-body .post-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.recent-post-wrap .recent-post .media-body .post-title a {
    color: var(--white-color);
}

.recent-post-wrap .recent-post .media-body .post-title a:hover {
    color: var(--theme);
}

.copyright-wrap {
    padding: 20.5px 0;
    border-top: 1px solid #444A56;
    background-color: var(--theme-color); /* Note: Two different background rules in SCSS. This one takes precedence. */
}

.copyright-wrap .copyright-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.copyright-wrap .copyright-layout .layout-text .copyright {
    margin-bottom: 0;
    color: var(--white-color);
}

.copyright-wrap .copyright-layout .layout-text .copyright a {
    color: var(--white-color);
}

.copyright-wrap .copyright-layout .layout-text .copyright a:hover {
    color: var(--theme-color-2);
}

.copyright-wrap .copyright-layout .link-wrapper {
    text-align: end;
}

.copyright-wrap .copyright-layout .link-wrapper a {
    display: inline-block;
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 22px;
    margin-right: 30px;
}

.copyright-wrap .copyright-layout .link-wrapper a:hover {
    color: var(--theme-color-2);
}

.copyright-wrap .copyright-layout .link-wrapper a:last-child {
    margin-right: 0;
}

.copyright-text {
    margin: 0;
    color: var(--white-color);
}

.copyright-text a {
    color: var(--theme);
}

.copyright-text a:hover {
    color: var(--white-color);
}


/* --- Media Queries --- */
@media (max-width: 767px) { /* sm */
    .copyright-wrap .copyright-layout {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .copyright-wrap .copyright-layout .link-wrapper {
        text-align: center;
        margin-top: 10px; /* Added margin for spacing */
    }
    .copyright-wrap .copyright-layout .link-wrapper a {
        text-align: center;
    }
}