/* ================================== */
/* Plik z klasami pomocniczymi (Helpers) */
/* ================================== */

/* --- Pasek przewijania (Scrollbar) --- */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--theme);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

/* --- Podstawowe klasy pomocnicze --- */
.fix { overflow: hidden; }
.ralt { position: relative; }
.ml-100 { margin-left: 100px; }
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }
.mt-70 { margin-top: 70px; }
.box-shadow { box-shadow: var(--box-shadow) !important; }
.mt-5 { margin-top: -5px !important; }

/* --- Tła i obramowania --- */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.bor-top { border-top: 1px solid rgba(255, 255, 255, .4); }
.bor-left { border-left: 1px solid var(--border-color); }
.bor-bottom { border-bottom: 1px solid rgba(255, 255, 255, .4); }
.bor-right { border-right: 1px solid var(--border-color); }
.footer-bg { background-color: var(--header-color) !important; }
.border-white {
    border: 1px solid var(--white) !important;
    color: var(--white) !important;
}
.border-white:hover {
    border: 1px solid transparent !important;
}
.bg-theme-color { background: var(--theme) !important; }
.bg-theme-color2 { background: var(--theme-color-2); }
.bg-body-color { background: var(--body-color); }
.section-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.border-radius { border-radius: 40px; }
.bg-common-color { background: #F3F6FD; }
.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --- Efekt Ripple dla wideo --- */
.ripple {
  position: relative;
}
.ripple::before,
.ripple::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(56, 75, 255, 0.2);
    animation: rippleOne 3s infinite;
}
.ripple::before { animation-delay: 0.9s; }
.ripple::after { animation-delay: 0.6s; }

/* --- Paginacja i nawigacja slidera --- */
.swiper-dot-2 {
    border: 2px dotted var(--theme);
    width: 146px;
    height: 41px;
    line-height: 37px;
    border-radius: 50px;
    text-align: center;
    margin: 50px auto 0;
    position: relative;
    z-index: 9;
}
.swiper-dot-2 .swiper-pagination-bullet {
    background-color: transparent;
    width: 11px;
    height: 11px;
    border: 2px solid var(--theme) !important;
    opacity: 1;
}
.swiper-dot-2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--theme);
}
.swiper-dot-2 .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border: 2px solid var(--theme);
}

.array-button {
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 9;
}
.array-button .array-prev,
.array-button .array-next {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.array-button .array-prev {
    background-color: transparent;
    color: var(--theme);
    border: 1px solid var(--theme);
}
.array-button .array-prev:hover {
    background-color: var(--theme);
    color: var(--white);
}
.array-button .array-next {
    background-color: var(--theme);
    color: var(--white);
}
.array-button .array-next:hover {
    background-color: var(--white);
    color: var(--theme);
}

/* --- Nice Select --- */
.nice-select {
  background-color: transparent;
  width: auto;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--border-color) !important;
  padding: 0 0 20px 0 !important;
  border-radius: 0;
}
.nice-select:hover {
  border-color: var(--theme) !important;
}
.nice-select span {
  font-size: 16px;
  color: var(--text-color);
  text-transform: capitalize;
}
.nice-select .current { margin-right: 12px; }
.nice-select.open .list {
  background: var(--bg-color);
  margin-top: 16px;
  width: 100%;
  color: var(--text-color);
}
.nice-select .option {
    border: none;
}
.nice-select .option:hover,
.nice-select .option.selected.focus {
  background: transparent;
  color: var(--text-color);
}

/* --- Scroll Up --- */
.scroll-up {
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px var(--border);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  position: fixed;
  right: 25px;
  bottom: 35px;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease-in-out;
}
.scroll-up::after {
  position: absolute;
  font-family: "Font Awesome 6 Pro"; /* Ensure you have this font */
  content: "\f062";
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  font-size: 18px;
  color: var(--theme);
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.scroll-up svg.scroll-circle path {
  stroke: var(--theme-color-2);
  stroke-width: 4px;
  fill: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.scroll-up.active-scroll {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* --- Komponenty: Fancy Box, Social, Checklist, Progress, etc. --- */
.fancy-box-wrapper.style2 { display: flex; gap: 20px; }
.fancy-box-wrapper.style3 { display: flex; align-items: center; gap: 30px; margin-bottom: 20px; }
.fancy-box-wrapper.style4 { display: flex; align-items: center; gap: 30px; }
.fancy-box-wrapper.style5 {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 595px;
    margin-top: 115px;
    padding: 30px;
    border-radius: 16px 16px 0 0;
    border: 0.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
}

.fancy-box.style1 { display: flex; align-items: center; justify-content: center; gap: 25px; }
.fancy-box.style1 .item h6 { margin: 0; color: var(--title-color); font-family: var(--title-font); font-size: 16px; font-weight: 700; line-height: 26px; }
.fancy-box.style1 .item p { margin: 0; color: var(--text-color); font-family: var(--body-font); font-size: 14px; line-height: 16px; }

.fancy-box.style2 { display: flex; padding: 8px; gap: 16px; border-radius: 10px; background: rgba(255, 255, 255, 0.15); box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.04); }
.fancy-box.style2 .item { display: flex; align-items: center; }
.fancy-box.style2 .item .icon { display: inline-block; padding: 13px; border-radius: 10px; background: var(--white-color); }
.fancy-box.style2 .item h6 { color: var(--white-color); font-family: var(--title-font); font-size: 16px; font-weight: 700; line-height: 22px; text-transform: capitalize; max-width: 90px; margin: 0; }

.fancy-box.style3 { display: flex; align-items: center; gap: 16px; }
.fancy-box.style3 .item .icon { display: inline-block; padding: 11px; border-radius: 10px; background: #F3F6FD; }
.fancy-box.style3 .item h6 { color: var(--title-color); font-family: var(--title-font); font-size: 16px; font-weight: 700; line-height: 22px; text-transform: capitalize; max-width: 109px; }

.fancy-box.style4, .fancy-box.style5 { padding-right: 30px; border-right: 1px solid rgba(255, 255, 255, 0.3); }
.fancy-box.style4 .title, .fancy-box.style5 .title { text-align: start; color: var(--white-color); font-family: var(--title-font); font-size: 20px; font-weight: 700; margin-bottom: 10px; }
.fancy-box.style4 .item-wrap, .fancy-box.style5 .item-wrap { display: flex; align-items: center; justify-content: start; gap: 12px; }
.fancy-box.style4 .item-wrap .item, .fancy-box.style5 .item-wrap .item { text-align: left; }
.fancy-box.style4 .item-wrap .item h6, .fancy-box.style5 .item-wrap .item h6 { color: var(--white-color); font-family: var(--body-font); font-size: 13px; line-height: 26px; margin: 0; }

.social-profile { position: absolute; right: 0; bottom: 0; z-index: 9; }
.social-profile ul { max-width: 50px; padding: 5px 0; margin: 0 auto; transform: translateY(100px); transition: all 0.6s ease-in-out; opacity: 0; visibility: hidden; border-radius: 144px; list-style: none; }
.social-profile ul li { margin-bottom: 8px; display: block; text-align: center; }
.social-profile ul li:last-child { margin-bottom: 0; }
.social-profile ul li a { width: 36px; height: 36px; line-height: 36px; text-align: center; font-size: 18px; display: inline-block; background: var(--white-color); color: var(--theme); transition: all .4s ease-in-out; border-radius: 50%; }
.social-profile ul li a:hover { background-color: var(--theme); color: var(--white-color); }
.social-profile .plus-btn { z-index: 2; cursor: pointer; width: 36px; height: 36px; line-height: 36px; text-align: center; font-size: 18px; display: inline-block; background-color: var(--theme); color: var(--white-color); transition: all .3s ease-in-out; border-radius: 50%; }
.social-profile:hover ul { transform: translateY(-10%); opacity: 1; visibility: visible; }

.counter-box-wrapper.style1 { display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; }
.counter-box-wrapper.style2 { display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; }
.counter-box.style1 h3 { color: var(--white-color); font-family: var(--title-font); font-size: 40px; font-weight: 700; line-height: 30px; margin-bottom: 10px; }
.counter-box.style1 h6 { color: var(--white-color); font-family: var(--body-font); font-size: 20px; font-weight: 400; line-height: 30px; }
.counter-box.style2 h3 { color: var(--title-color); font-family: var(--title-font); font-size: 40px; font-weight: 700; line-height: 30px; margin-bottom: 10px; }
.counter-box.style2 h6 { color: var(--title-color); font-family: var(--body-font); font-size: 20px; font-weight: 400; line-height: 30px; }

.checklist.style1 { display: flex; align-items: center; justify-content: space-between; margin-left: 6px; list-style-type: none; padding-left: 0; }
.checklist.style1 li { color: var(--text-color); font-family: var(--body-font); font-size: 16px; font-weight: 500; line-height: 28px; text-transform: capitalize; }
.checklist.style1 li img { margin-right: 8px; }
.checklist.style2 { margin-top: 40px; margin-bottom: 40px; }
.checklist.style2 ul { display: flex; align-items: center; margin-left: 6px; gap: 8px; list-style-type: none; padding-left: 0; }

.star-wrap { display: flex; padding-left: 0; }
.star-wrap li { list-style-type: none; }
.meta { display: flex; align-items: center; gap: 10px; }
.meta .icon i { color: var(--theme); }
.meta .text { color: var(--body-color); font-family: var(--title-font); font-size: 14px; font-weight: 500; line-height: 22px; }

.progress-wrap { margin-bottom: 30px; }
.progress-wrap:last-child { margin-bottom: 0; }
.progress-wrap .progress-meta { display: flex; justify-content: space-between; margin-bottom: 15px; } /* gap is not reliable for this */
.progress-wrap .progress-meta .title { color: var(--title-color); font-family: var(--title-font); font-size: 18px; font-weight: 700; }
.progress-wrap .progress-meta .percentage { color: var(--title-color); font-family: var(--title-font); font-size: 15px; font-weight: 400; }
.progress-wrap .progress-container { position: relative; width: 100%; height: 5px; background-color: #D9DDFF; border-radius: 10px; } /* width adjusted to be responsive */
.progress-wrap .progress-container .progress-bar { height: 5px; background-color: var(--theme); border-radius: 10px; opacity: 0; animation: progress-anim 2s forwards; } /* Example animation */
@keyframes progress-anim { from { width: 0; opacity: 1; } } /* Added opacity to keyframe */

.et-social a { display: inline-block; width: 36px; height: 36px; line-height: 36px; text-align: center; background: var(--theme); color: var(--white-color); margin-right: 5px; border: 1px solid #FFFFFFCC; transition: 0.4s ease-in-out; }
.et-social a:hover { background: var(--white-color); color: var(--theme); }
.et-social.style2 a { background: transparent; color: var(--white-color); border: 1px solid rgba(255, 255, 255, 0.20); }
.et-social.style2 a:hover { background: var(--theme-color-2); color: var(--white-color); border-color: var(--title-color); }

.custom-checkbox input[type="checkbox"] { display: none; }
.custom-checkbox { cursor: pointer; display: block; position: relative; padding-left: 25px; margin-bottom: 10px; user-select: none; color: var(--white-color); font-family: var(--title-font); font-size: 16px; font-weight: 400; line-height: 28px; }
.custom-checkbox .checkmark { position: absolute; top: 5px; left: 0; height: 20px; width: 20px; margin-right: 5px; background-color: transparent; border-radius: 4px; border: 1px solid var(--white-color); opacity: 0.6; }
.custom-checkbox .checkmark:after { content: ""; position: absolute; display: none; left: 7px; top: 3px; width: 5px; height: 10px; border: solid var(--white-color); border-width: 0 3px 3px 0; transform: rotate(45deg); }
.custom-checkbox a { color: var(--white-color); text-decoration: underline; }
.custom-checkbox:hover input ~ .checkmark { background-color: var(--title-color); }
.custom-checkbox input:checked ~ .checkmark { background-color: var(--theme); }
.custom-checkbox input:checked ~ .checkmark:after { display: block; }
#termsForm button:disabled { background-color: var(--title-color); cursor: not-allowed; }

.email-input-container { position: relative; }
.email-input-container #email { width: 270px; padding: 23px 16px; border-radius: 8px; background: var(--white-color); color: var(--text-color); border: none; outline: none; }
.email-input-container #email::placeholder { color: var(--text-color) !important; }
.email-input-container #submitButton { position: absolute; top: 5px; right: 5px; padding: 18px 20px; font-size: 16px; border: none; border-radius: 8px; background: var(--theme); color: var(--white-color); cursor: pointer; transition: 0.4s ease-in-out; }
.email-input-container #submitButton:hover { background: var(--title-color); }

.page-nav-wrap ul { list-style: none; padding-left: 0; margin: 0; text-align: center; } /* Centering pagination */
.page-nav-wrap ul li { display: inline-block; }
.page-nav-wrap ul li .page-numbers { display: inline-block; width: 50px; height: 50px; line-height: 50px; background: transparent; font-weight: 600; transition: all 0.3s ease-in-out; margin: 0 2px; border: 1px solid var(--border-color); color: var(--text-color); border-radius: 5px; }
.page-nav-wrap ul li .page-numbers.current,
.page-nav-wrap ul li .page-numbers:hover { background: var(--theme); color: var(--white-color); border-color: var(--theme); }
.page-nav-wrap ul li .page-numbers i { margin-top: 2px; }

.work-process-card.style1 .number { text-align: left; background: transparent; -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2); color: transparent; font-family: var(--body-font); font-size: 50px; font-weight: 700; line-height: 26px; margin-bottom: 30px; transition: all 0.4s; }
.work-process-card.style1 .title { color: var(--white-color); font-family: var(--body-font); font-size: 22px; font-weight: 700; line-height: 30px; margin-bottom: 20px; }
.work-process-card.style1 .text { color: rgba(255, 255, 255, 0.8); font-family: var(--body-font); font-size: 16px; line-height: 28px; }
.work-process-card.style1:hover .number, .work-process-card.style1.active .number { -webkit-text-stroke-color: rgba(255, 255, 255, 1); }

.work-process-container-wrapper.style2 { position: relative; }
.work-process-container-wrapper.style2 .shape { position: absolute; bottom: 0; left: 49.8%; transform: translateX(-49.8%); z-index: 3; }

.work-process-wrapper.style2 { position: relative; background: var(--theme); width: 100%; height: 759px; clip-path: url(#workprocessdMask1); transition: all 0.4s; }
.work-process-wrapper.style2 .shape1 { position: absolute; bottom: 0; left: 0; z-index: 1; }
.work-process-wrapper.style2 .shape2 { position: absolute; bottom: 0; left: 150px; z-index: 1; }

.gy-20 { --bs-gutter-y: 20px; }
.gy-25 { --bs-gutter-y: 25px; }
.gy-30 { --bs-gutter-y: 30px; }
.gy-40 { --bs-gutter-y: 40px; }
.gy-50 { --bs-gutter-y: 50px; }
.gx-10 { --bs-gutter-x: 10px; }
.gx-0 { --bs-gutter-x: 0px; }
.gt-social a { display: inline-block; width: var(--icon-size, 40px); height: var(--icon-size, 40px); line-height: var(--icon-size, 40px); background-color: rgba(255, 255, 255, 0.1); color: var(--white-color); font-size: 16px; text-align: center; margin-right: 5px; border-radius: 0; }
.gt-social a:last-child { margin-right: 0; }
.gt-social a:hover { background-color: var(--theme); color: var(--white-color); }
.gt-social.style2 a { --icon-size: 40px; font-size: 14px; background-color: transparent; color: var(--white-color); border: 1px solid; }
.gt-social.style2 a:hover { border-color: var(--theme); color: var(--white-color); background-color: var(--theme); }
.gt-social.color-theme a { color: var(--body-color); border-color: var(--theme); }

.checklist-wrapper.style3 { display: flex; align-items: center; gap: 30px; margin-top: 35px; margin-bottom: 20px; }
.checklist-wrapper.style3 .checklist.style3 { list-style: none; padding-left: 0; }
.checklist-wrapper.style3 .checklist.style3 img { margin-right: 5px; }
.checklist-wrapper.style3 .checklist.style3 li { margin-bottom: 10px; }
.checklist-wrapper.style3 .checklist.style3 li:last-child { margin-bottom: 0; }

/* --- Media Queries --- */
@media (max-width: 1600px) {
    .container-fluid.px-0 { padding-left: 15px !important; padding-right: 15px !important; }
    .container-fluid.px-0 .row { margin: 0 !important; }
}
@media (max-width: 1399px) {
    :root { --main-container: 1300px; }
    .work-process-container-wrapper.style2 .shape { left: 57.6%; transform: translateX(-57.6%); }
}
@media (max-width: 1500px) { /* xxl */
    .counter-box.style2 h3 { font-size: 34px; line-height: 21px; }
    .counter-box.style2 h6 { font-size: 17px; line-height: 23px; }
    .work-process-container-wrapper.style2 .shape { display: none; }
}
@media (max-width: 1299px) { /* xl */
    .counter-box.style2 h6 { font-size: 10px; line-height: 20px; }
}
@media (max-width: 1199px) { /* lg */
    .counter-box.style2 h3 { font-size: 25px; line-height: 5px; }
    .work-process-wrapper.style2 { clip-path: none; height: auto; }
}
@media (max-width: 991px) { /* md */
    .mt-30 { margin-top: 0; }
    .fancy-box-wrapper.style3 { flex-direction: column; align-items: start; }
    .fancy-box-wrapper.style4 { margin-bottom: 50px; flex-direction: column; }
    .fancy-box.style4 { padding-right: 0; padding-bottom: 30px; border-right: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .fancy-box.style5 { border-right: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.3); padding-right: 0; padding-bottom: 30px; }
    .fancy-box.style5:last-child { padding-bottom: 0; }
    .counter-box.style2 h3 { font-size: 15px; line-height: 5px; }
    .counter-box.style2 h6 { font-size: 6px; line-height: 20px; }
    .checklist-wrapper.style3 .checklist.style3 { margin-bottom: 0; }
}
@media (max-width: 767px) { /* sm */
    br { display: none; }
    .checklist-wrapper.style3 { flex-direction: column; align-items: start; gap: 10px; }
    .page-nav-wrap ul li .page-numbers { margin-top: 10px; width: 50px; height: 50px; line-height: 50px; font-size: 14px; }
    .progress-wrap .progress-container { width: 85%; }
}
@media (max-width: 575px) { /* xs */
    .progress-wrap .progress-meta { gap: 210px; }
}
@media (max-width: 375px) { /* vxs */
    .counter-box.style1 h3 { font-size: 33px; line-height: 24px; }
    .counter-box.style1 h6 { font-size: 16px; line-height: 23px; }
    .progress-wrap .progress-meta { gap: 150px; }
}
@media (min-width: 1399px) {
    .gx-30 { --bs-gutter-x: 30px; }
    .gx-25 { --bs-gutter-x: 25px; }
    .gx-40 { --bs-gutter-x: 40px; }
}
@media (min-width: 1500px) {
    .gx-60 { --bs-gutter-x: 60px; }
    .gx-70 { --bs-gutter-x: 70px; }
}