/* ================================== */
/* Plik ze stylami sekcji Marquee     */
/* ================================== */

.marquee-wrapper {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--theme);
    z-index: 9;
}

.marquee-wrapper.style-2 {
    background-color: transparent;
    line-height: 55px;
    margin-bottom: -39px;
}

.text-slider {
    font-size: 50px;
    height: 100px;
    line-height: 90px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
    display: inline-block; /* Added for proper spacing */
}

.text-slider:not(:last-child) {
    margin-right: 30px;
}

.text-slider img {
    margin-bottom: 10px;
    vertical-align: middle; /* Added for alignment */
}

.marquee-inner {
    position: relative; /* Changed from absolute */
    display: inline-flex;
    width: 200%;
}

.marquee-list {
    float: left;
    width: 50%;
}

.marquee-item {
    float: left;
    transition: animation 0.2s ease-out;
}

.marquee-item.style-2 .text-slider {
    text-transform: capitalize;
    font-size: 60px;
    color: var(--header-color);
    margin-right: 40px;
    line-height: 0;
    height: 65px;
}

.marquee-item.style-2 .text-style {
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(var(--theme), var(--theme));
    background-position: 0 95%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}

.marquee-item.style-2 .text-style:hover {
    color: var(--theme);
    background-size: 100% 3px;
}

.marquee-inner.to-left {
    animation: marqueeLeft 25s linear infinite;
}

@keyframes marqueeLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.marquee-inner.to-right {
    animation: marqueeRight 25s linear infinite;
}

@keyframes marqueeRight {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.marque-section-2 {
    position: relative;
}

.marque-section-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/img/service/service-bg-2.jpg);
}

/* Media Queries */
@media (max-width: 991px) { /* max-md */
    .marquee-wrapper.style-2 {
        margin-bottom: -50px;
    }
    .text-slider,
    .marquee-item.style-2 .text-slider {
        font-size: 36px;
    }
}