/* ================================== */
/* Plik ze stylami sekcji Projekty    */
/* ================================== */

.project-items .project-image {
    position: relative;
    height: 457px;
}

.project-items .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.project-items .project-image .project-content {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 35px 30px;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 15px;
}

.project-items .project-image .project-content::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 6px;
    height: 58px;
    content: "";
    background-color: var(--theme);
    transition: all 0.3s ease-in-out;
}

.project-items .project-image .project-content p {
    color: var(--theme);
    font-weight: 500;
    margin-bottom: 5px;
}

.project-items .project-image .project-content h4 {
    font-weight: bold;
    margin: 0;
}

.project-items .project-image .project-content h4 a {
    color: var(--title-color);
}

.project-items .project-image .project-content h4 a:hover {
    color: var(--theme);
}

.project-items .project-image .project-content .icon {
    width: 65px;
    height: 65px;
    line-height: 65px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-2); /* Assuming --box-shadow-2 is defined */
    border-radius: 50%;
    text-align: center;
    color: var(--theme);
    position: absolute;
    top: 130px;
    right: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: rotate(-40deg);
}

.project-items .project-image .project-content .icon:hover {
    background-color: var(--theme);
    color: var(--white);
}

.project-items:hover .project-image .project-content::before {
    height: 100%;
}

.project-items:hover .project-image .project-content .icon {
    top: 35px;
    opacity: 1;
    visibility: visible;
    transform: rotate(0deg);
}

.project-items.style-2 {
    margin-top: 30px;
}

.project-section-2 {
    position: relative;
}

.project-section-2::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--bg-color-2);
    height: 35%;
    z-index: -1;
}

.project-section-2::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--bg-color);
    width: 91%;
}

.project-section-2 .left-shape { position: absolute; top: 0; left: 0; z-index: 1; }
.project-section-2 .right-shape { position: absolute; bottom: 0; right: 9%; z-index: 1; }

.project-wrapper {
    margin-left: -22%;
}

.project-wrapper .project-items.style-2 .project-image {
    height: auto;
}

.project-wrapper .project-items.style-2 .project-content {
    width: auto;
    height: auto;
}

.project-wrapper .project-items.style-2 .project-content::before {
    display: none;
}

.project-wrapper .project-items.style-2 .project-content .arrow-icon {
    width: 85px;
    height: 100%;
    line-height: 130px;
    background-color: rgba(56, 75, 255, .1);
    text-align: center;
    color: var(--theme);
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.project-wrapper .project-items.style-2 .project-content .arrow-icon i {
    transform: rotate(-40deg);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.project-wrapper .project-items.style-2:hover .project-content .arrow-icon i {
    transform: rotate(0);
}

.project-wrapper .project-items.style-2 .project-content .arrow-icon-2 {
    width: 80px;
    height: 80px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(56, 75, 255, .1);
    display: inline-block;
    color: var(--theme);
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: -20px;
    right: -20px;
}

.project-wrapper .project-items.style-2 .project-content .arrow-icon-2 i {
    transform: rotate(-40deg);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    margin-left: 25px;
}

.project-wrapper .project-items.style-2 .project-content .arrow-icon-2:hover i {
    transform: rotate(0);
}

.project-wrapper .project-items.style-2 .project-content .arrow-icon-2:hover {
    background-color: var(--theme);
}
.project-wrapper .project-items.style-2 .project-content .arrow-icon-2:hover i {
    color: var(--white);
}

.project-wrapper .project-items.style-2:hover .project-content .arrow-icon {
    background-color: var(--theme);
    color: var(--white);
}

.project-wrapper.style-2 {
    margin-left: 0;
    margin-right: -57%;
}

.project-section-3 {
    position: relative;
}

.project-section-3::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #15067D;
    opacity: 0.6;
}

.project-section-3::after {
    content: "";
    position: absolute;
    top: 60%; left: 0; right: 0; bottom: 0;
    background: var(--white);
}

.title-video-box {
    position: relative;
    z-index: 9;
}

.title-video-box .video-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--theme);
}

.title-video-box .ripple::before,
.title-video-box .ripple::after {
    box-shadow: 0 0 0 0 rgba(56, 75, 255, 0.8);
}

/* Project Details */
.project-details-wrapper .project-details-items .details-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.project-details-wrapper .project-details-items .details-content h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.project-details-wrapper .project-details-items .project-catagory {
    padding: 40px 30px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-top: 4px solid var(--theme);
    margin-top: -150px;
    margin-right: 30px;
    position: relative; /* Added for stacking context */
}

.project-details-wrapper .project-details-items .project-catagory h3 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 30px;
    margin-top: 0;
}

.project-details-wrapper .project-details-items .project-catagory ul {
    list-style: none;
    padding: 0;
}

.project-details-wrapper .project-details-items .project-catagory ul li {
    font-weight: 600;
    color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 16px 0;
}

.project-details-wrapper .project-details-items .project-catagory ul li span {
    font-weight: 500;
}

.project-details-wrapper .project-details-items .project-catagory ul li span i {
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.project-details-wrapper .project-details-items .project-catagory ul li span i:hover {
    color: var(--theme);
}

.project-details-wrapper .project-details-items .list {
    list-style: none;
    padding: 0;
}

.project-details-wrapper .project-details-items .list li {
    font-weight: 500;
    color: var(--header-color);
}

.project-details-wrapper .project-details-items .list li:not(:last-child) {
    margin-bottom: 10px;
}

.project-details-wrapper .project-details-items .list li i {
    margin-right: 5px;
    color: var(--theme);
}

.project-details-wrapper .project-details-items .thumb img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.project-details-wrapper .preview-area {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 30px 0;
}

.project-details-wrapper .preview-area .preview-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.project-details-wrapper .preview-area .preview-item .content.text-right {
    text-align: right;
}

.project-wrapper.style1 {
    padding: 122px 50px 60px;
    margin-left: 0;
    border-radius: 30px;
    background: #F3F6FD;
}

.project-wrapper.style1 .project-thumb { width: 100%; }
.project-wrapper.style1 .project-thumb img { width: 100%; }

.project-wrapper.style2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin-left: -2%;
    margin-right: -200px;
}

.project-item-wrapper.style1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: -60px;
    padding: 80px 146px 0px;
}

.project-item-card.style1 {
    position: relative;
    display: inline-block;
    border: 1px solid var(--border-color);
    background: var(--white-color);
    padding: 65px 15px 25px;
    border-radius: 16px;
    transition: all 0.4s;
    text-align: center; /* Added for centering h5 */
}

.project-item-card.style1 .project-icon {
    position: absolute;
    top: -50px;
    left: 50%;
    display: inline-block;
    padding: 24px;
    background: var(--white-color);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    transform: translateX(-50%);
}

.project-item-card.style1 h5 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 0;
}

.project-item-card.style1:hover,
.project-item-card.style1.active {
    background: var(--theme);
}
.project-item-card.style1:hover h5,
.project-item-card.style1.active h5 {
    color: var(--white-color);
}

.project-content-wrapper.style1 {
    position: relative;
}

.project-content-wrapper.style1 .shape {
    position: absolute;
    bottom: -40px;
    left: 46%;
    z-index: 9;
    transform: translateX(-46%);
}

.project-content.style1 {
    padding: 30px 0px 0px 40px;
    position: relative;
    background: var(--white-color);
    text-align: center;
    width: 100%;
    height: 370px;
    clip-path: url(#projectContentdMask);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    display: flex; /* Added for layout */
}

.project-content.style1 .project-content-left {
    text-align: left;
    max-width: 392px;
    padding-bottom: 30px;
}

.project-content.style1 .project-content-left h3 {
    text-align: left;
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.project-content.style1 .project-content-left p {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.project-content.style1 .project-content-right {
    margin-top: 32px;
}

.project-content.style1 .project-content-right img {
    height: 318px;
}

.project-card.style2 {
    position: relative;
}

.project-card.style2 .project-mask-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 40px 30px 30px 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 0.4s;
}

.project-card.style2 .project-mask-wrapper .project-thumb img {
    width: 100%;
    height: 100%;
}

.project-card.style2 .project-mask-wrapper .project-desc {
    padding: 20px 10px 0;
}

.project-card.style2 .project-mask-wrapper .project-desc h6 {
    color: var(--theme);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 0px;
}

.project-card.style2 .project-mask-wrapper .project-desc h5 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 0;
}
.project-card.style2 .project-mask-wrapper .project-desc h5 a {
    color: var(--title-color);
}
.project-card.style2 .project-meta {
    position: absolute;
    bottom: 25px;
    right: 21px;
    z-index: 8;
    display: flex;
    align-items: center;
    gap: 13px;
}

.project-card.style2 .project-meta .number {
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 100px;
    text-align: center;
    background: var(--white-color);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    color: var(--theme);
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 500;
}

.project-card.style2 .project-meta .link {
    width: 56px;
    height: 56px;
    line-height: 60px;
    border-radius: 100px;
    text-align: center;
    background: var(--theme);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    color: var(--white-color);
}
.project-card.style2 .project-meta .link i {
    color: var(--white-color);
    font-size: 20px;
}
.project-card.style2 .project-meta .link.style2 {
    background: var(--title-color);
    color: var(--white-color);
}

/* Media Queries */
@media (max-width: 1899px) { /* max-xl4 */
    .project-wrapper.style2 {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0;
        gap: 30px;
    }
    .project-card.style2 .project-mask-wrapper {
        padding: 23px 48px 10px 46px;
    }
    .project-card.style2 .project-meta {
        bottom: 5px;
    }
}
@media (max-width: 1500px) { /* max-xxl */
    .project-content-wrapper.style1 .shape {
        left: 62.5%;
        transform: translateX(-62.5%);
    }
}
@media (max-width: 1299px) { /* max-xl */
    .project-section-2::after {
        width: 100%;
    }
    .project-wrapper {
        margin-left: 0;
    }
    .project-wrapper.style2 {
        margin-right: 0;
    }
    .project-item-wrapper.style1 {
        grid-template-columns: repeat(3, 1fr);
        padding: 80px 30px 0px;
    }
    .project-item-card.style1 {
        margin-top: 40px;
    }
}
@media (max-width: 1199px) { /* max-lg */
    .project-details-wrapper .project-details-items .project-catagory {
        margin-top: 30px; /* Adjusted */
        margin-right: 0;
    }
    .project-wrapper.style2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .project-content-wrapper.style1 .shape {
        left: 61%;
        transform: translateX(-61%);
    }
}
@media (max-width: 991px) { /* max-md */
    .project-details-wrapper .project-details-items .details-content h3 { font-size: 26px; }
    .project-wrapper.style1 { padding: 122px 18px 34px; }
    .project-item-wrapper.style1 { grid-template-columns: repeat(1, 1fr); padding: 80px 20px 0px; }
    .project-content-wrapper.style1 .shape { display: none; }
    .project-content.style1 { clip-path: none; padding: 23px; height: auto; flex-direction: column; }
    .project-content.style1 .project-content-left h3 { font-size: 27px; line-height: 39px; }
    .project-card.style2 .project-mask-wrapper { padding: 12px 8px 10px 8px; }
    .project-card.style2 .project-meta .number,
    .project-card.style2 .project-meta .link {
        width: 44px;
        height: 44px;
        line-height: 44px;
    }
     .project-card.style2 .project-meta { gap: 5px; bottom: 19px; right: 0; }
}
@media (max-width: 767px) { /* max-sm */
    .project-section-3 .section-title-area { justify-content: center; text-align: center; }
    .project-details-wrapper .project-details-items .details-content h3 { font-size: 24px; }
}
