/* ================================== */
/* Plik z pomocnikami dla sekcji      */
/* ================================== */

/* --- Tytuły Sekcji --- */
.title-wrap {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.section-title {
    position: relative;
    z-index: 8;
}

.section-title span {
    color: var(--theme);
}

.section-title .subtitle {
    display: flex;
    align-items: center;
    color: var(--theme);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-title .subtitle span {
    margin: 0 10px;
}

.section-title .title {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
    text-transform: capitalize;
    margin: 0; /* Reset margin */
}

/* --- Podstawowe Style Sekcji --- */
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-bg {
    background-color: var(--bg-color);
}

.section-bg {
    background-color: var(--bg-color);
}

.section-bg-2 {
    background-color: var(--bg-color-2);
}

.section-padding {
    padding: 120px 0;
}


/* Media Queries */
@media (max-width: 1299px) { /* max-xl */
    .section-padding {
        padding: 100px 0;
    }
}

@media (max-width: 1199px) { /* max-lg */
    .section-padding {
        padding: 80px 0;
    }
}

@media (max-width: 767px) { /* max-sm */
    .title-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        justify-content: start;
    }
}