/* ================================== */
/* Plik ze stylami sekcji Zespół      */
/* ================================== */

.team-section {
    position: relative;
}

.team-section .line-shape {
    position: absolute;
    top: 0;
    left: 0;
}

.team-section .line-shape img,
.single-team-items .team-image img,
.team-box-items .team-image img,
.team-details-wrapper .team-details-image img {
    width: 100%;
    height: auto;
}

.team-section .mask-shape {
    position: absolute;
    top: -40%;
    right: -2%;
}

.team-wrapper {
    position: relative;
    z-index: 9;
}

.team-wrapper .team-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 35px 0;
    position: relative;
}

.team-wrapper .team-items .team-title {
    width: 250px;
}

.team-wrapper .team-items .team-title span {
    color: var(--theme);
    margin-bottom: 5px;
    display: inline-block;
}

.team-wrapper .team-items .team-title h4 {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.team-wrapper .team-items .team-title h4::before {
    position: absolute;
    top: 12px;
    left: 0;
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--white);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.team-wrapper .team-items .team-title h4 a {
    color: var(--white);
}

.team-wrapper .team-items .team-title h4:hover {
    padding-left: 40px;
}

.team-wrapper .team-items .team-title h4:hover::before {
    opacity: 1;
    visibility: visible;
}

.team-wrapper .team-items p {
    color: rgba(255, 255, 255, .8);
}

.team-wrapper .team-items .social-profile {
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
    z-index: 2;
    overflow: hidden;
    gap: 10px;
}

.team-wrapper .team-items .social-profile ul {
    transform: translateX(100px);
    transition: all 0.6s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none; padding: 0; margin: 0;
}

.team-wrapper .team-items .social-profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: block;
    background: rgba(56, 75, 255, .2);
    color: var(--white);
    transition: all .4s ease-in-out;
}

.team-wrapper .team-items .social-profile ul li a:hover {
    background-color: var(--theme);
    color: var(--white);
}

.team-wrapper .team-items .social-profile .plus-btn {
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background: var(--white);
    color: var(--theme);
    transition: all .3s ease-in-out;
}

.team-wrapper .team-items .social-profile:hover ul {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.team-wrapper .team-items .team-hover {
    width: 176px;
    height: 176px;
    position: absolute;
    border-radius: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(10deg);
    left: 0; /* Changed from inset-inline-start */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    opacity: 0;
    transition: opacity .3s, transform .7s cubic-bezier(0.23, 1, 0.32, 1);
    margin: -200px 0 0 -50px;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
    visibility: hidden;
}

.team-wrapper .team-items:hover .team-hover {
    opacity: 1;
    visibility: visible;
}

/* Team Card Items */
.team-card-items {
    margin-top: 30px;
}

.team-card-items .team-image {
    position: relative;
}

.team-card-items .team-image img {
    border-radius: 15px;
}

.team-card-items .team-image .social-profile {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
    display: inline-block;
    overflow: hidden;
}

.team-card-items .team-image .social-profile ul {
    list-style: none; padding: 0; margin: 0;
    transform: translateY(-100px);
    transition: all 0.6s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.team-card-items .team-image .social-profile ul li:not(:last-child) {
    margin-bottom: 10px;
}

.team-card-items .team-image .social-profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    display: block;
    background: var(--white);
    color: var(--header-color);
    transition: all .4s ease-in-out;
}
.team-card-items .team-image .social-profile ul li a:hover {
    background-color: var(--theme);
    color: var(--white);
}

.team-card-items .team-image .social-profile .plus-btn {
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    display: inline-block;
    background: var(--theme);
    color: var(--white);
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.team-card-items .team-image .social-profile:hover ul {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.team-card-items .team-content {
    margin-top: -50px;
    position: relative;
    z-index: 9;
    padding: 30px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    margin-right: 30px;
    border-radius: 15px;
}

.team-card-items .team-content h3 {
    margin-bottom: 5px;
}

.team-card-items .team-content h3 a {
    color: var(--title-color);
}
.team-card-items .team-content h3 a:hover {
    color: var(--theme);
}

/* Team Section Variants */
.team-section-2 {
    position: relative;
}
.team-section-2::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--bg-color);
    opacity: .3;
}
.team-section-3 {
    position: relative;
    z-index: 5;
}
.team-section-3 .mask-shape {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.team-section-3 .line-shape {
    position: absolute;
    bottom: -10%;
    left: 0;
    z-index: 2;
}

.single-team-items {
    position: relative;
    z-index: 5;
    margin-top: 20px;
    border-radius: 15px;
}
.single-team-items .team-image {
    position: relative;
    height: 340px;
    border-radius: 15px;
}
.single-team-items .team-image img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.single-team-items .team-image .social-profile {
    position: absolute;
    right: 20px;
    bottom: -4px;
    z-index: 99;
}
.single-team-items .team-image .social-profile ul {
    transform: translateY(100px);
}
.single-team-items:hover .team-content {
    background-color: var(--theme);
}
.single-team-items:hover .team-image .social-profile .plus-btn {
    background-color: var(--header-color);
    color: var(--white);
}

.team-box-items {
    margin-top: 30px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 40px;
    text-align: center;
}
.team-box-items .team-image img {
    border-radius: 50%;
}
.team-box-items .team-content { margin-top: 20px; }
.team-box-items .team-content h3 { margin-bottom: 5px; }
.team-box-items .team-content h3 a:hover { color: var(--theme); }
.team-box-items .team-content p { border-bottom: 1px solid var(--border-color); padding-bottom: 20px; }
.team-box-items .team-content .social-icon {
    display: flex; align-items: center;
    gap: 25px;
    justify-content: center;
    padding-top: 25px;
}
.team-box-items .team-content .social-icon a {
    color: var(--text-color);
    font-size: 18px;
}
.team-box-items .team-content .social-icon a:hover { color: var(--theme); }


/* Team Details */
.team-details-wrapper .team-details-image img {
    border-radius: 15px;
}
.team-details-wrapper .team-details-content {
    margin-left: 40px;
}
.team-details-wrapper .details-info {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.team-details-wrapper .details-info h3 { margin-bottom: 5px; }
.team-details-wrapper .details-info span { color: var(--text-color); }
.team-details-wrapper .progress-wrap .pro-items {
    width: 100%;
}
.team-details-wrapper .progress-wrap .pro-items:not(:last-child) {
    margin-bottom: 30px;
}
.team-details-wrapper .pro-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.team-details-wrapper .pro-head .title,
.team-details-wrapper .pro-head .point {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.team-details-wrapper .progress {
    background: var(--bg-color);
    border-radius: 100px;
    height: 12px;
    width: 100%;
}
.team-details-wrapper .progress-value {
    background: var(--theme);
    height: 12px;
    width: 0;
    border-radius: 16px;
}
.team-details-wrapper .progress-value.style-one { animation: load1 3s normal forwards; }
.team-details-wrapper .progress-value.style-two { animation: load2 3s normal forwards; }

.team-details-wrapper .social-icon { margin-top: 40px; }
.team-details-wrapper .social-icon span {
    font-size: 16px;
    font-weight: 700;
    color: var(--header-color);
    margin-right: 15px;
}
.team-details-wrapper .social-icon a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid var(--border-color);
    display: inline-block;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}
.team-details-wrapper .social-icon a:not(:last-child) { margin-right: 5px; }
.team-details-wrapper .social-icon a:hover {
    background-color: var(--theme);
    color: var(--white);
    border-color: transparent;
}


/* Media Queries */
@media (max-width: 991px) { /* max-lg */
    .team-details-wrapper .team-details-content { margin-left: 0; margin-top: 30px; }
}

@media (max-width: 767px) { /* max-md */
    .team-wrapper .team-items { flex-wrap: wrap; justify-content: center; text-align: center; gap: 30px; }
    .single-team-items .team-image { height: auto; }
}

@media (max-width: 575px) { /* max-sm */
    .team-wrapper .team-items .social-profile ul {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes load1 { 0% { width: 0; } 100% { width: 85%; } }
@keyframes load2 { 0% { width: 0; } 100% { width: 95%; } }
