/* ================================== */
/* Plik ze stylami sekcji "Why Choose Us" */
/* ================================== */

.wcu-card.style2 {
    display: flex;
    align-items: flex-start; /* Changed to flex-start */
    gap: 24px;
    padding: 30px;
    background: #F3F6FD;
    border: 1px solid var(--border-color);
}

.wcu-card.style2 .wcu-icon {
    width: 74px; /* Fixed width */
    height: 74px; /* Fixed height */
    flex-shrink: 0; /* Prevent icon from shrinking */
}

.wcu-card.style2 .wcu-icon img {
    width: 100%;
    height: 100%;
}

.wcu-card.style2 .wcu-content h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 5px;
}

.wcu-card.style2 .wcu-content p {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 25px;
}

.wcu-card.style2 .wcu-content .link-btn {
    padding: 12px 30px;
    border-radius: 6px;
}