div.blog-skin-01 .hover-outer .icon-groups a,
div.blog-skin-02 .hover-outer .icon-groups a {
    height: 38px;
    width: 38px;
    line-height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.grid-post-item .post-info {
    font-size: initial;
}

.entry-post-meta div {
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    line-height: 1.6;
    color: #666;
}

div.blog-skin-01 .title {
    margin-bottom: 15px;
}

div.blog-skin-01 .blog-read-more {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.12em;
    line-height: 1.8;
    color: #0077ed;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
div.blog-skin-01 .blog-read-more::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0077ed;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

div.blog-skin-01 .blog-read-more:hover {
    color: #1f1f1f;
}
div.blog-skin-01 .blog-read-more:hover:after {
    opacity: 0;
}
div .entry-content-wrap {
    padding: 30px !important;
}
.entry-post-meta div i {
    margin-right: 6px;
    color: #0077ed;
    font-size: 16px;
}

.entry-post-meta .entry-meta-count-view {
    float: right;
}

div.blog-skin-02 .entry-post-meta div {
    margin-top: 0;
}

div.blog-skin-02 .entry-post-meta div i {
    padding-right: 5px;
}