/*
 Theme Name:   SafePilot Main - Child Theme
 Theme URI:    https://pbmediaonline.pl
 Description:  Motyw potomny SafePilot
 Author:       PB MEDIA
 Author URI:   https://pbmediaonline.pl
 Template:     safepilot-startup
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags: 				two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: 		g5-startup
*/
/************************************************************************************
Put your custom CSS below this block :)
*************************************************************************************/
