/*
 Theme Name:   G5 Startup Child Theme
 Theme URI:    http://themes.g5plus.net/startup/
 Description:  G5 Startup Child Theme
 Author:       G5plus
 Author URI:   http://g5plus.net
 Template:     g5-startup
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags: 				two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: 		g5-startup
*/
/************************************************************************************
Put your custom CSS below this block :)
*************************************************************************************/
